/* layout.css */

/* common */
body{font-size:12px;font-family:NanumGothic
,"나눔고딕",sans-serif;text-align:center;
background:url(../main_images/bg_headbar.png) repeat-x 0 0;}
a{text-decoration:none;color:#666;}
a:hover{text-decoration:none;color:black;}

/* main layout */
#wrap{width:100%;text-align:left;}
	#header{width:1242px;height:120px;margin:0 auto;}
	#container{width:1242px;margin:0 auto;}
	#container:after{content:"";display:block;clear:both;}
		.spot{width:1242px;height:521px;}
		.content1{float:left;width:410px;height:652px;}
		.content2{float:left;width:420px;height:652px;}
		.content3{float:left;width:410px;height:652px;}

	/* sub layout */
		.site_link{width:100%;height:30px;}
	#sub_container{position:relative;width:1242px;padding-bottom:30px;margin:0 auto;padding-top:20px;/*border:1px solid red;*/}
	#sub_container:after{content:"";display:block;clear:both;}
		.snb{float:left;width:260px;height:523px;}
		#content{float:right;width:923px;/*height:753px;border:1px solid red;*/}
		.quick{float:right;width:105px;height:427px;/*border:1px solid red;*/position:absolute;left:1270px;top:87px;}


	#footer{width:100%;height:147px;
	background:url(../main_images/bg_footerbar.png) repeat-x 0 0;}
	#foot_inner{width:1242px;height:147px;margin:0 auto;}


